<div class="stock-container" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="50px">
  <h2  fxLayout="row" fxLayoutAlign="center center">Here you can search for a specific stock and you will be displayed a worse performing stock to boost your morale.</h2>

  <div class="search" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayout.xs="column">
    <mat-form-field color="primary" appearance="outline">
      <mat-label>Enter a stock symbol</mat-label>
      <input matInput #symbol/>
    </mat-form-field>
    <button mat-button (click)="getStockData(symbol.value)">Search</button>
  </div>

  <span fxLayout="row" fxLayoutAlign="center center" class="error-message" *ngIf="hasSubmitted&&throwError">Enter a valid symbol!</span>

  <app-stock-graphical-interface *ngIf="hasSubmitted && !throwError"
                                 [symbol]="stockGUIService.symbol"
                                 [open]="stockGUIService.open"
                                 [high]="stockGUIService.high"
                                 [close]="stockGUIService.close"
                                 [volume]="stockGUIService.volume"
                                 [lastDate]="stockGUIService.lastDate"
                                 [stockDateInfo]="stockGUIService.stockDateInfo"
                                 [stockCloseInfo]="stockGUIService.stockCloseInfo"
                                 [dataSource]="stockGUIService.dataSource"
                                 [lineChartData]="stockGUIService.lineChartData"
                                 [lineChartLabels]="stockGUIService.lineChartLabels">
  </app-stock-graphical-interface>

</div>
