<div class="layout-container" fxLayout="column" fxLayoutGap="15px">
  <h3>This is a website where you can check for stock information.</h3>
  <p>Our website has 4 main functions:</p>
    <p>1. <b>Search for stock</b> - you can search for a specific stock and get its information (name, ask/bid/open price, daily trading volume, P/E etc).</p>
    <p>2. <b>Morale booster</b> - you can enter a stock name that you might have in your portfolio and you will be displayed a worse performing stock to boost your morale.</p>
    <p>3. <b>Compare stocks</b> - you can search for two stocks and compare their stats side by side.</p>
    <p>4. <b>Market overview</b> - you can get an overview of some of the most popular stocks on the front page.</p>
</div>


