.layout-container {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 75rem;
  height: 100%;
}

.spy-info {
  margin-top: 0.5%;
  width: 80%;
  height: 70%
}

.dow-info {
  margin-top: 1%;
  width: 80%;
  height: 70%
}

@media only screen and (max-width: 600px) {
  .layout-container {
    width: 18rem;
  }
}

