.layout-container {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 75rem;
  height: 100%;
}

.spy-info {
  margin-top: 2%;
  width: 90%;
}

.dow-info {
  width: 90%;
}

table {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .layout-container {
    width: 18rem;
  }
}

