<div class="profile-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Welcome!</mat-card-title>
    </mat-card-header>

    <button mat-stroked-button color="primary" class="btn-block">My stocks</button>
    <button mat-stroked-button color="primary" class="btn-block">My portfolio</button>
    <button mat-stroked-button (click)="logOutButton()" color="primary" class="btn-block">Log out</button>
  </mat-card>
</div>
