.stock-container {
  display: flex;
  justify-content: center;
  width: 75rem;
  height: 100%;
  border: 1px solid black;
}

button {
  width: 20%;
  height: 8%;
  border: none;
  background: none;
  box-shadow: 0 1px 3px #80CBC4, 0 1px 2px #B2DFDB;
  border-radius: 40px 40px;
}

button:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  box-shadow: 5px 5px #26A69A, 10px 10px #4DB6AC, 15px 15px #80CBC4, 20px 20px #B2DFDB, 25px 25px #E0F2F1;
}

mat-form-field {
  width: 60%;
  margin-top: 5%;
  padding: 1%;
  height: 8%;
  border-radius: 40px 40px;
}

app-stock-graphical-interface {
  width: 90%
}

@media only screen and (max-width: 600px) {
  .stock-container {
    width: 18rem;
  }
}
