<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  h2 {text-align: center;}
  p {text-align: center;}
</style>
<h2>Here you can search for a specific stock and get its information.</h2>


<div class="stock-container"
     fxLayout="wrap start"
     fxLayout.xs="column"
     fxLayoutGap="50px">


  <mat-form-field color="primary" fxFlex="55">
    <mat-label></mat-label>
    <input matInput #symbol placeholder="Search for stock symbol"/>
  </mat-form-field>
  <button mat-button  (click)="getStockData(symbol.value)" fxFlex="10" >Search</button>


  <mat-card fxFlex="50" fxLayout="column">
    <mat-card-content>{{stockInformationComponent === undefined ? null : stockInformationComponent}}</mat-card-content>
  </mat-card>


</div>


